@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Work+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(172, 76, 76);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-out;
}
.slide h2 {
  position: absolute;
  font-size: 100px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide.active {
  /* flex: 5; */
  flex-grow: 5;
}
.slide.active h2 {
  transition: opacity 0.3s ease-in 0.5s;
  opacity: 1;
}